# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# OS
.DS_Store
Thumbs.db